<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="../img/logo.png">
    <link rel="stylesheet" href="../../../public/css/criaLogin.css">
    <title>Criar Login</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="../../../public/images/criaLogin.png" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Criar Login</h1>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="login">CPF</label>
                        <input id="login" type="text" name="login" placeholder="Insira seu CPF" required>
                    </div>
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Crie sua senha" required>
                    </div>
                    <div class="input-box">
                        <label for="confirmPassword">Confirmar Senha</label>
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirme sua senha" required>
                    </div>
                </div>
                <div class="continue-button">
                    <button type="submit">Criar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>